img.card-img-top {
  height: 250px;
  object-fit: cover;
}
.card-body {
  min-height: 250px;
}  
img.image-spinner {
  height: 60px;
  width:60px;
}
.rounded-pill {
  top: 10px!important;
  right: -25px;
}
h1.text-center {
  font-family: montserrat;
  font-weight: 600;
  color: #202020;
}
a.navbar-brand {
  color: #fff;
  font-size: 24px;
  font-family: montserrat;
  font-weight: 800;
}

ul.navbar-nav li a {
  font-size: 16px;
  font-family: montserrat;
  font-weight: 600;
  text-transform: capitalize;
  color: #fff!important;
}